@font-face{
  font-family: "Circular-Bold";
  src: url(fonts/CircularStd-Bold.otf);
}

@font-face{
  font-family: "Circular";
  src: url(fonts/CircularStd-Book.otf);
}

body, html {
  font-family: "Circular-Bold", sans-serif;
}

input, textarea{
  font-family: "Circular", sans-serif;
}

p{
  font-family: "Circular", sans-serif;
}


