.centerProjectdata {
    font-size: 1.5em;
    padding-top: 20px;
    margin-bottom: 20px;
}
.centerProjectdata .tags:hover{
    box-shadow: 1px 1px 6px rgb(117, 117, 117);
}

.submitProjData{
    background-color: rgb(117, 117, 117);
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    margin-left: 80px;
    font-size: 2em;
}
.submitProjData:hover{
    box-shadow: 1px 1px 6px rgb(117, 117, 117);
}

.importantCompetences{
    font-size: 1.5em;
    text-align: center;
    margin: 0px 100px 20px 100px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid lightgray;
}

.profileContainer{
    padding: 0 0 20px 7%;
    overflow: auto;
}

.hide{
    display: none;
}



.importantCompetences input:hover::placeholder{
    color: rgb(55, 172, 55);
}

.importantCompetences input:hover,.importantCompetences input:focus{
    border: 1px solid rgb(84, 196, 84);
    box-shadow: 1px 1px 10px rgba(117, 117, 117, 0.397);
}

.importantCompetences .input{
    font-size: 0.6em;
    padding: 5px 15px;
    width: 120px;
}

.projectName p,
.description p,
.groupSize p
{
    text-align: left;
    margin-left: 80px;
}

.projectName input{
    border:none;
    border-bottom: 2px solid #CECECE;
    padding: 10px 20px 0px 20px;
    margin-bottom: 10px;
    width: 200px;
}

.participantBox{
    border: 1px solid #CECECE;
    border-radius: 5px;
    width: 160px;
    height:30px;
    text-align: center;
    padding: 2px 30px 2px 5px;
    margin-left: 40px;
    margin-top:15px;
    margin-bottom: 7px;
}
.userIconEditParticipant{
    float:left;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
}
.participantDeleteIcon{
    padding:0px;
    margin: 0px;
    display: block;
    float: right;
}
.participantDeleteIcon:hover{
    color:#cc0000;
}
.participantAcceptIcon{
    padding:0px;
    margin: 0px;
    display: block;
    float: right;
}
.participantAcceptIcon:hover{
    color: green;
}
.centerNameParticipant{
    margin-right: 25px;
    margin-top: 5px;
}