.centerProjectdata p{
    font-size: 1.5em;
    padding-top: 15px;
    margin-bottom: 20px;
}
.centerProjectdata .tags:hover{
    box-shadow: 1px 1px 6px rgb(117, 117, 117);
}
.centerSave{
   text-align: center;
   margin-bottom: 100px;
}
.save{
    font-size: 3em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid  rgb(220,220,220);
    border-radius: 10px;
}
.save:hover{
    box-shadow: 1px 1px 6px rgb(117, 117, 117);
}
.spatie{
    margin-top: 65px;
}


.importantCompetences{
    font-size: 1.5em;
    text-align: center;
    margin: 0px 100px 20px 100px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid lightgray;
}

.profileContainer{
    padding: 30px 100px;
    overflow: auto;
}

.importantCompetences input{
    width: 15px;
    text-align: center;
    position: absolute;
    right:150px;
    padding: 0px 15px;
    font-size: 1em;
    border-radius: 20px;
    margin-top: -25px;
    border: 1px solid lightgray;
    outline: none;
    webkit-transition: width 1s;
    transition: width 1s;
}

.importantCompetences input:hover::placeholder{
    color: rgb(55, 172, 55);
}

.importantCompetences input:hover,.importantCompetences input:focus{
    border: 1px solid rgb(84, 196, 84);
    box-shadow: 1px 1px 10px rgba(117, 117, 117, 0.397);
}

.importantCompetences .input{
    font-size: 0.6em;
    padding: 5px 15px;
    width: 120px;
}

.projectName p,
.description p,
.groupSize p
{
    text-align: left;
    margin-left: 80px;
}

.projectName input{
    border: 1px solid lightgray;
    padding: 10px 50px 10px 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}
.marginInputParticipant{
    margin-top: 20px;
    margin-left: 10px;
    padding:5px 10px 5px 50px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.participantBox{
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 160px;
    height:30px;
    text-align: center;
    margin-left: 125px;
    margin-top:15px;
    margin-bottom: 10px;
}
.participantBox i{
    float:left;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
}
.centerNameParticipant{
    margin-right: 25px;
    margin-top: 5px;
}