/*
    COLORS
    LIGHT GREY: #CECECE
    MEDIUM GREY: #7F7F7F
    DARK GREY: #595A5A
*/

.header{
    padding: 20px;
    position: relative;
    z-index: 1;
}

.headerLogo{
    align-self: center;
    width: 100%;
}

p{
    margin: 0px;
}

.back{
    font-size: 1.5em;
    font-weight: 700;
}

.title{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    padding: 2% 7%;
}
    

.searchform{
    margin-top: 5px;
    width: 180px;
    padding: 5px;
    border-radius: none;
    border-bottom: 1px solid #CECECE;
}

.fas{
    color:  #CECECE;
}

.search{
    font-size: 1.5em;
    width: 140px;
    border: none;
}

input:focus{
    outline: none;
    color: rgb(49, 49, 49);
}

.search::placeholder{
    font-weight: bold;
    color: #CECECE;
}

.profileLink{
    color: #7F7F7F;
    text-align: end;
}

.profileLink p{
    font-weight: bold;
}

.profileLink p:hover{
    text-decoration: underline;
}

button{
    border: none;
    background-color: white;
}

a:-webkit-any-link{
    color:black;
    text-decoration: none; 
}
