body{
   /* background-color: dimgrey;   dat maakt heel de website deze kleur */
}

.centerJoinProjectData{
    border: 2px solid blue;
    border-radius:10px;
    margin: auto;
    text-align: center;
    width: 500px;
    height: 100px;
}