.centerLeaderbord{
    text-align: center;
    padding-top: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 9px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.leaderboardButton{
    margin: 0px 100px 50px 100px;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(146, 146, 146);
    padding: 10px 20px;
    float: right;
}

.leaderboardButton:hover {
    box-shadow: 1px 1px 10px rgb(82, 82, 82);
}