.loginMain{
    background-color: rgba(243, 243, 243, 0.596);
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.2em;
    min-height: 100vh;
    padding-top: 50px;
    font-weight: bold;
}



.loginContainer{
    padding-top: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(116, 116, 116, 0.582);
}

.loginContainer2{
    padding-top: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(116, 116, 116, 0.582);
}

.loginLogo {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.loginContainer input{
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px 10px;
    border-radius: 5px;
    border:none;
    background-color: rgba(207, 207, 207, 0.596);
    box-shadow: 1px 1px 1px rgba(141, 141, 141, 0.63);
}

.inputMakeAcc{
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px 10px;
    border-radius: 5px;
    border:none;
    background-color: rgba(207, 207, 207, 0.596);
    box-shadow: 1px 1px 1px rgba(141, 141, 141, 0.63);
}

.signup{
    padding: 0px 20px 40px 20px;
}

.loginButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 10px 30px;
    background-color: rgba(207, 207, 207, 0.596);
    box-shadow: 1px 1px 5px rgba(54, 54, 54, 0.63);
    border-radius: 5px;
    color: #707070;
}

.loginButton:hover{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.76);
}

.newAccountButton{
    display: block;
    text-align: center;
    padding: 40px 0px;
    background-color: #929292;
    width: 100%;
    color: white;
    transition: background-color 0.5s ease-in-out;
}

.newAccountButton:hover {
    background-color: #636363;
}

.checkGDPR{
    margin-left: 95px;
    margin-top: 30px;
    margin-bottom: 30px;
    color:gray;
    font-size: 0.8em;
}
.checkGDPR input[type="checkbox"]{
    padding-right: 5px;
}
