.projectback{
    width: 190px;
    height: 140px;
    display: inline-block;
    float: left;
    margin-right: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(87, 87, 87);
    padding: 10px;
}

.projectback:hover{
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.projectback p{
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 10px;
    text-shadow: 1px 1px 10px rgba(49, 49, 49, 0.671);
}

.projectback p:nth-child(1){
    font-size: 1.5em;
    
}

.searchContainer, .projectContainer {
    padding-top: 100px;
}

/*gradients for project backgrounds: gradients found on https://www.eggradients.com/ */

.edisons{
    background-color: #861657;
    background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
}

.spotify{
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}

.trump{
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
}

.dejaVu{
    background-color: #90d5ec;
    background-image: linear-gradient(315deg, #90d5ec 0%, #fc575e 74%);
}

.caesar{
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
}

.instagram{
    background-color: #6b0f1a;
    background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
}

.freeFood{
    background-color: #f5d020;
    background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
}

.soda{
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}

.homeless{
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
}

.battery{
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
}

.login{
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
}

.kennedy{
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
}

.chance{
    background-color: #ee8e6b;
    background-image: linear-gradient(315deg, #ee8e6b 0%, #ef6da0 74%);
}

.duck{
    background-color: #17f9f2;
    background-image: linear-gradient(315deg, #17f9f2 0%, #b0f9a9 74%);
}

.organic{
    background-color: #feae96;
    background-image: linear-gradient(315deg, #feae96 0%, #fe0944 74%);
}

.warm{
    background-color: #ef5734;
    background-image: linear-gradient(315deg, #ef5734 0%, #ffcc2f 74%);
}

.dragon{
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);

}

.red{
    background-color: #990000;
    background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%);
}