.centerData{
    text-align: left;
    font-size: 1.5em;
}
.button{
    display:inline-block;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 10px;
}
.button:hover{
    box-shadow: 1px 1px 6px rgb(117, 117, 117)
}
.marginButton{
    margin-top: 20px;
}
p{
    margin-top: 20px;
}
span{
    margin-top:3px;
}