
.buttonEditProj{
    font-weight: 100;
    display:inline-block;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 10px;
    font-size: 1.5em;
    position: absolute;
    right: 0;
}
.buttonEditProj:hover{
    box-shadow: 1px 1px 6px rgb(117, 117, 117);
}
.rightButton{
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
}
.centerData p{
    margin-top: 20px;
   /* margin-left: 80px;*/
}
.centerData span{
    margin-top:3px;
}

.paragraafEditProj{
    position: relative;
    margin:50px 100px;
    text-align: left;
    font-size: 1.5em;
}

.paragraafEditProj button{
    position: absolute;
    right: 0;
}

div .paragraafEditProj p, .paragraafEditProj span{
    margin-top: 20px;
    margin-bottom: 10px;
    padding-right: 20px;
}

.paragraafEditProjMax{
    position: relative;
    margin-left:100px;
    margin-right:100px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 1.5em;
}

.paragraafEditProjMax button{
    position: absolute;
    right: 0;
}

div .paragraafEditProjMax p, .paragraafEditProjMax span{
    margin-top: 20px;
    margin-bottom: 10px;
    padding-right: 20px;
}

.titleComments{
    /*margin: 0px 80px;*/
    padding-bottom: 10px;
    font-size: 2em;
    border-bottom: 1px solid lightgray;
}

.addCommentEditProj{
    border: 1px solid gray;
    padding:10px 20px;
    border-radius: 4px;
    margin-left: 5px;
    margin-bottom: 20px;
    width: 80%;
    
}
.addCommentEditProj:hover{
    box-shadow: 1px 1px 6px rgb(117, 117, 117) 
}
.approachComment{
    /*margin-left: 90px;*/
    padding-left: 0px;
}
.commentBox{
    border: 1px solid gray;
    border-radius: 4px;
    padding:5px 20px;
    margin-bottom: 20px;
   /* margin-left:80px;
    margin-right:80px;  */  
}
.styleLikeComment{
    color: lightgray;
}

.commentBox p {
    padding: 10px 0px;
}

.fa-user:before {
    margin-right: 10px;
}

.likeClicked{
    color: lightskyblue;
}

.fa-thumbs-up:before {
    margin-right: 5px;
}
.fitIn{
    display: inline-block;
    margin-left: 5px;
}
.centerUlProblem{
    margin-left: 80px;
}
.problemBox{
    border: 1px solid gray;
    border-radius: 4px;
    padding:10px 10px;
    margin-bottom: 20px;
}

.problemBox:hover{
    box-shadow: 1px 1px 10px rgba(117, 117, 117, 0.418);
}

.problemBox p {
    padding: 10px 0px;
    position: relative; 
}
.addProblemEditProj{
    border: 1px solid gray;
    padding:5px 20px;
    border-radius: 4px;
    margin-left: 5px;
    margin-bottom: 20px;
    width: 400px;
    
}
.addProblemEditProj:hover{
    box-shadow: 1px 1px 6px rgb(117, 117, 117) 
}
.solvedProblem{
    border: 1px solid rgb(7, 250, 7);
}

.ProjectLike{
    display: block;
    padding: 10px 0px;
}

.reply{
    position: absolute;
    right: 0;
}

.reply:hover{
    color: lightskyblue;
}